{
    "root": true,
    "extends": [
        "eslint:recommended",
        "plugin:jest/recommended",
        "plugin:jest/style",
        "airbnb-typescript/base",
        "prettier",
        "prettier/prettier",
        "plugin:prettier/recommended"
    ],
    "plugins": [
        "import",
        "jest",
        "@typescript-eslint",
        "prettier"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "./tsconfig.eslint.json",
    },
    "rules": {
        "import/no-extraneous-dependencies": 0,
        "@typescript-eslint/naming-convention": [
            "error",
            {
                "selector": "variable",
                "format": [
                    "camelCase",
                    "UPPER_CASE"
                ],
                "leadingUnderscore": "allow"
            }
        ],
        "curly": "warn"
    }
}